{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	reverse_proxy site:80
	encode gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	}
}

www.{$DOMAIN} {
	redir https://{$DOMAIN}{uri} permanent
}
